.project aside img {
	max-width: 80%;
	height: auto;
	max-height: 400pt; 
}

article blockquote {
	font-weight: 100;
	text-align: center;
	font-size: 24pt;
	quotes: "\201C""\201D""\2018""\2019";

}
article h1, h2 {
	text-align: center;
			width:100%;
}

article h1:first-of-type {
	margin-bottom: 48pt;
			margin-top: 0;

}

article h1 {
	margin-bottom: 48pt;
		margin-top: 48pt;

}

article blockquote:before {
	 content: open-quote;
}

article blockquote:after {
	 content: close-quote;
}

.project aside {
	text-align: center;
}

.fill {
	grid-column: 1 / span 2;
}

.project aside p {
	font-size: 12pt;
}

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 80%; 
	margin-left: auto;
	margin-right: auto;
	height: auto; 
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}
aside {
	margin-bottom:48pt;
	margin-top:48pt;
}

aside:first-of-type {
	margin-top:0pt;
}
p {
	/*font-family: 'Space Mono', monospace;*/

}

article.project {

}

